<!DOCTYPE html>
<html lang="en" ng-app="taskApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Task manager</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="row p-top-10" ng-controller="TaskController">
    <div class="col-md-1"></div>
    <div class="col-md-5 well">
        <form name="myForm" class="form-horizontal">
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Заголовок</label>

                <div class="col-sm-10">
                    <input type="text" ng-model="TaskModel.title" maxlength="20" class="form-control" ng-class="{ 'task-error': myForm.title.$invalid }" name="title" id="title"
                           required>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Описание</label>

                <div class="col-sm-10">

                    <textarea id="description" ng-model="TaskModel.description" class="form-control"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="endDate" class="col-sm-2 control-label">Дата окончания</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="curDate" name="curDate" ng-class="{ 'task-error': myForm.curDate.$invalid }"
                           ng-pattern="/^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$/"
                           id="endDate" required >
                </div>
            </div>
            <div class="form-group">
                <label for="endTime" class="col-sm-2 control-label">Время окончания</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="curTime" name="curTime" ng-class="{ 'task-error': myForm.curTime.$invalid }"
                           ng-pattern="/^([01]?[0-9]|2[0-3]):[0-5][0-9]$/" id="endTime" required >
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" ng-click="CreateTask();" ng-disabled="myForm.$invalid"
                            class="btn btn-default">Создать
                    </button>
                </div>
            </div>
        </form>


    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <div class="row well form-group" ng-class="{ 'task-error': task.difference < 0 }"
             ng-repeat="task in TaskStorage.GetTasks()  track by $index | orderBy:'difference'">
            <div class="col-md-3"><input type="text" class="form-control" ng-model="task.differenceAsTimeString" readonly></div>
            <div class="col-md-3"><input type="text" class="form-control" ng-model="task.title" readonly></div>
            <div class="col-md-3 ">
                <button class="btn" title="{{task.description}}"   data-toggle="tooltip" data-placement="top" tooltip>
                    Подробнее
                </button>
            </div>
            <div class="col-md-2">
                <button class="btn" ng-click="addExtraTime($index)">+ 10 мин</button>
            </div>
            <div class="col-md-1">
                <button class="btn" ng-click="removeTask($index);">X</button>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>


<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="app.js"></script>
<script src="TaskCtrl.js"></script>
<script src="TaskStorage.js"></script>
</body>
</html>